<div>

    <!-- <app-please-wait *ngIf="!employees"></app-please-wait> -->
    <div style="text-align: left; width: 100%">
        <a routerLink="/employees/new">Add new employee</a>
    </div> 

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Country</th>
            <th>City</th>
            <th>Birth Date</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let e of employees">
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.title}}</td>
            <td>{{e.country}}</td>
            <td>{{e.city}}</td>
            <td>{{e.birthDate}}</td>
            <td><div>
                <a [routerLink]="'/employees/' + e.id">
                    <img [src]="image_api + e.imageName"/>
                </a>
            </div>
            </td>
        </tr>
    </table>

</div>





<div>
    <div style="text-align: left; width: 100%">
        <a routerLink="/employees/new">Add new employee</a>
    </div>  

    
<div *ngFor="let e of employees" style="display:inline-flex;">
    <div class="box">
        <div>First Name:<b>{{ e.firstName }}</b></div>
        <div>Last Name: <b>{{ e.lastName }}</b></div>
        <div>Title: <b>{{ e.title }}</b></div>
        <div>Country:<b>{{ e.country }}</b></div>
        <div>City: <b>{{ e.city }}</b></div>
        <div>Birthdate: <b>{{ e.birthDate }}</b></div>
        

        <div>
            <a [routerLink]="'/employees/' + e.id">
                <img [src]="image_api + e.imageName"/>
            </a>
        </div>
    </div>
</div>