<div *ngIf="employee">
  <div>
    {{ employee.firstName }} {{ employee.lastName }}
    <br />
    Title: {{ employee.title }}
    <br />
    Residance: {{ employee.country }}, {{ employee.city }}
    <br />
    Birthdate:{{ employee.birthDate }}
  </div>
  <div>
    <img [src]="image_api + employee.imageName" />
  </div>
  <div>
    <button (click)="delete()">Delete Employee</button>
  </div>
  <br />
  <div>
    <br />
    <a routerLink="/employees">Go back to employee list</a>
  </div>
   <br />
  <div>
    <a routerLink="/employees/{{ employee.id }}/edit">Edit employee</a>
  </div>
</div>
