<div>
    <a routerLink="/" routerLinkActive="active">Main</a><br/>
    <a routerLink="/inventory" routerLinkActive="active">Inventory</a><br/>
    <a routerLink="/products" routerLinkActive="active">Products</a><br/>
    <a routerLink="/employees" routerLinkActive="active">Employees</a><br/>
    <a routerLink="/cutegories" routerLinkActive="active">Cutegories</a><br/>
    <a routerLink="/about" routerLinkActive="active">About</a><br/>
    <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a><br/>
    <a routerLink="/search" routerLinkActive="active">Search</a><br/>
    
</div>
