<div>
<div style="text-align: left; width: 100%">
    <a routerLink="/products/new">Add new product</a>
</div>    

<div *ngFor="let p of products" style="display:inline-flex;">
    <div class="box">
        <div>{{ p.name }}</div>
        <div>Price: <b>{{ p.price }}</b></div>
        <div>Stock: <b>{{ p.stock }}</b></div>

        <div>
            <a [routerLink]="'/products/' + p.id">
                <img [src]="image_api + p.imageName"/>
            </a>
        </div>
        <!-- <button [routerLink]="'/products/' + p.id" (click)="deleteProduct(p.id)">Delete this product</button> -->
        <!-- <div><img src="{{ image_api + p.imageName }}"/></div> -->

    </div>
</div>

</div>
